
header{
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: darkseagreen;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;

}
#searchButton{
    margin-top: 10px;
}
.card{
    margin-left: 10px;
    margin-top: 10px;
}
.results{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

#weatherBar{
    display:flex;
    justify-content: flex-start;
    padding: 10px;
    
}
#weatherDisplay{
    display: flex;
}
#results{
    max-width: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#resultsFirstDiv {
    background-color: blanchedalmond;
    margin: 10px;
    box-shadow: 4px;
}
.searchItems{
    background-color:darkgoldenrod;
    padding-left: 40px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
.searchItems:hover{
    color:coral;
    cursor: pointer;
    background-color: saddlebrown;
}