
header{
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: darkseagreen;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;

}
#searchButton{
    margin-top: 10px;
}
.card{
    margin-left: 10px;
    margin-top: 10px;
}
.results{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

#weatherBar{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    
}